$primary: #884c84;
$primary-color: #884c84;
$secondary: #ffecfe;
$secondary-color: #ffecfe;
$offLight: #f8f8f8;
$font: #0d1b2a;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);